In [3]:
import pandas as pd
import numpy as np
import re
from pathlib import Path

DATA_DIR = Path("../data")
OUT_DIR = Path("../outputs")
OUT_DIR.mkdir(exist_ok=True)
(OUT_DIR / "figures").mkdir(exist_ok=True)

In [4]:
def clean_number(x):
    """Convert '1,234.56' -> 1234.56. Return NaN if not numeric."""
    if pd.isna(x):
        return np.nan
    s = str(x).strip().replace(",", "")
    if s in ["", "None", "nan"]:
        return np.nan
    try:
        return float(s)
    except:
        return np.nan

def normalize_branch(name):
    """Standardize branch names for matching across files."""
    if pd.isna(name) or name is None:
        return None
    s = str(name).lower().strip()
    s = re.sub(r'[^a-z0-9\s]', ' ', s)   # remove punctuation
    s = re.sub(r'\s+', ' ', s).strip()  # collapse spaces
    return s

In [5]:
f4 = DATA_DIR / "rep_s_00673_SMRY.csv"
df4_raw = pd.read_csv(f4)
df4_raw.head(20)

,Stories,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Theoretical Profit By Category,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Jan-26,NaN,NaN,Years:2025 Month:0,NaN,NaN,NaN,Page 1 of,NaN,3.0
2,Category,Qty,Total Price,NaN,Total Cost,Total Cost %,Total Profit,NaN,Total Profit %,NaN
3,Stories - Bir Hasan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEVERAGES,"137,572.1","1,841,385.84",NaN,"4,143,855.17",22.50,"14,270,003.22",NaN,77.50,NaN
5,FOOD,"102,791.4","1,264,966.00",NaN,"4,658,225.80",36.82,"7,991,434.23",NaN,63.18,NaN
6,Total By Branch:,"240,363.5","3,106,351.84",NaN,"8,802,080.97",28.34,"22,261,437.45",NaN,71.66,NaN
7,Stories Centro Mall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BEVERAGES,"138,680.5","2,054,988.70",NaN,"4,591,734.79",22.34,"15,958,152.17",NaN,77.66,NaN
9,FOOD,"121,423.1","1,307,149.74",NaN,"4,981,860.70",38.11,"8,089,636.74",NaN,61.89,NaN
10,Total By Branch:,"260,103.6","3,362,138.44",NaN,"9,573,595.50",28.47,"24,047,788.90",NaN,71.53,NaN
11,Stories LAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,BEVERAGES,"58,430.00","777,228.30",NaN,"1,774,898.67",22.84,"5,997,384.33",NaN,77.16,NaN
13,FOOD,"73,384.15","767,489.57",NaN,"2,799,004.10",36.47,"4,875,891.58",NaN,63.53,NaN
14,Total By Branch:,"131,814.1","1,544,717.87",NaN,"4,573,902.77",29.61,"10,873,275.90",NaN,70.39,NaN
15,Stories Faqra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,BEVERAGES,"49,605.00","671,882.79",NaN,"1,426,297.24",21.23,"5,292,530.68",NaN,78.77,NaN
17,FOOD,"46,504.70","4,199,569.55",NaN,"1,508,720.49",35.93,"2,690,849.07",NaN,64.07,NaN
18,Total By Branch:,"96,109.70","1,091,839.75",NaN,"2,935,017.73",26.88,"7,983,379.74",NaN,73.12,NaN
19,Stories.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df4 = df4_raw.copy()
df4["branch"] = np.nan

current_branch = None
for i, row in df4.iterrows():
    cat = str(row.get("Category", ""))
    if cat.lower().startswith("stories"):
        current_branch = cat
    df4.at[i, "branch"] = current_branch

df4[["Category","branch"]].head(25)

KeyError: "['Category'] not in index"

In [7]:
df4_raw.columns.tolist()

['Stories',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9']

In [8]:
df4_raw.head(10)

,Stories,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Theoretical Profit By Category,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Jan-26,NaN,NaN,Years:2025 Month:0,NaN,NaN,NaN,Page 1 of,NaN,3.0
2,Category,Qty,Total Price,NaN,Total Cost,Total Cost %,Total Profit,NaN,Total Profit %,NaN
3,Stories - Bir Hasan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEVERAGES,"137,572.1","1,841,385.84",NaN,"4,143,855.17",22.50,"14,270,003.22",NaN,77.50,NaN
5,FOOD,"102,791.4","1,264,966.00",NaN,"4,658,225.80",36.82,"7,991,434.23",NaN,63.18,NaN
6,Total By Branch:,"240,363.5","3,106,351.84",NaN,"8,802,080.97",28.34,"22,261,437.45",NaN,71.66,NaN
7,Stories Centro Mall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BEVERAGES,"138,680.5","2,054,988.70",NaN,"4,591,734.79",22.34,"15,958,152.17",NaN,77.66,NaN
9,FOOD,"121,423.1","1,307,149.74",NaN,"4,981,860.70",38.11,"8,089,636.74",NaN,61.89,NaN

In [9]:
df4_raw = df4_raw.rename(columns={
    "Stories": "Category",
    "Unnamed: 1": "Qty",
    "Unnamed: 2": "Total Price",
    "Unnamed: 4": "Total Cost",
    "Unnamed: 5": "Total Cost %",
    "Unnamed: 6": "Total Profit",
    "Unnamed: 8": "Total Profit %"
})

In [10]:
df4 = df4_raw.copy()

# drop rows where Category is empty
df4 = df4[df4["Category"].notna()].copy()

# remove repeated export header rows
df4 = df4[~df4["Category"].astype(str).str.contains("Theoretical Profit", case=False, na=False)]
df4 = df4[~df4["Category"].astype(str).str.contains("Page", case=False, na=False)]
df4 = df4[df4["Category"].astype(str).str.strip() != "Category"]

df4.head(12)

,Category,Qty,Total Price,Unnamed: 3,Total Cost,Total Cost %,Total Profit,Unnamed: 7,Total Profit %,Unnamed: 9
1,22-Jan-26,NaN,NaN,Years:2025 Month:0,NaN,NaN,NaN,Page 1 of,NaN,3.0
3,Stories - Bir Hasan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEVERAGES,"137,572.1","1,841,385.84",NaN,"4,143,855.17",22.50,"14,270,003.22",NaN,77.50,NaN
5,FOOD,"102,791.4","1,264,966.00",NaN,"4,658,225.80",36.82,"7,991,434.23",NaN,63.18,NaN
6,Total By Branch:,"240,363.5","3,106,351.84",NaN,"8,802,080.97",28.34,"22,261,437.45",NaN,71.66,NaN
7,Stories Centro Mall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BEVERAGES,"138,680.5","2,054,988.70",NaN,"4,591,734.79",22.34,"15,958,152.17",NaN,77.66,NaN
9,FOOD,"121,423.1","1,307,149.74",NaN,"4,981,860.70",38.11,"8,089,636.74",NaN,61.89,NaN
10,Total By Branch:,"260,103.6","3,362,138.44",NaN,"9,573,595.50",28.47,"24,047,788.90",NaN,71.53,NaN
11,Stories LAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,BEVERAGES,"58,430.00","777,228.30",NaN,"1,774,898.67",22.84,"5,997,384.33",NaN,77.16,NaN
13,FOOD,"73,384.15","767,489.57",NaN,"2,799,004.10",36.47,"4,875,891.58",NaN,63.53,NaN

In [11]:
df4 = df4_raw.copy()

# keep only rows where Category is not empty
df4 = df4[df4["Category"].notna()].copy()

# remove export junk/header rows
df4 = df4[~df4["Category"].astype(str).str.contains("Theoretical Profit", case=False, na=False)]
df4 = df4[~df4["Category"].astype(str).str.contains("Page", case=False, na=False)]
df4 = df4[~df4["Category"].astype(str).str.match(r"\d{1,2}-[A-Za-z]{3}-\d{2}", na=False)]  # removes 22-Jan-26 style rows
df4 = df4[df4["Category"].astype(str).str.strip() != "Category"]  # removes the row that says Category Qty Total Price...

df4.head(15)

,Category,Qty,Total Price,Unnamed: 3,Total Cost,Total Cost %,Total Profit,Unnamed: 7,Total Profit %,Unnamed: 9
3,Stories - Bir Hasan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEVERAGES,"137,572.1","1,841,385.84",NaN,"4,143,855.17",22.50,"14,270,003.22",NaN,77.50,NaN
5,FOOD,"102,791.4","1,264,966.00",NaN,"4,658,225.80",36.82,"7,991,434.23",NaN,63.18,NaN
6,Total By Branch:,"240,363.5","3,106,351.84",NaN,"8,802,080.97",28.34,"22,261,437.45",NaN,71.66,NaN
7,Stories Centro Mall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BEVERAGES,"138,680.5","2,054,988.70",NaN,"4,591,734.79",22.34,"15,958,152.17",NaN,77.66,NaN
9,FOOD,"121,423.1","1,307,149.74",NaN,"4,981,860.70",38.11,"8,089,636.74",NaN,61.89,NaN
10,Total By Branch:,"260,103.6","3,362,138.44",NaN,"9,573,595.50",28.47,"24,047,788.90",NaN,71.53,NaN
11,Stories LAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,BEVERAGES,"58,430.00","777,228.30",NaN,"1,774,898.67",22.84,"5,997,384.33",NaN,77.16,NaN
13,FOOD,"73,384.15","767,489.57",NaN,"2,799,004.10",36.47,"4,875,891.58",NaN,63.53,NaN
14,Total By Branch:,"131,814.1","1,544,717.87",NaN,"4,573,902.77",29.61,"10,873,275.90",NaN,70.39,NaN
15,Stories Faqra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,BEVERAGES,"49,605.00","671,882.79",NaN,"1,426,297.24",21.23,"5,292,530.68",NaN,78.77,NaN
17,FOOD,"46,504.70","4,199,569.55",NaN,"1,508,720.49",35.93,"2,690,849.07",NaN,64.07,NaN

In [12]:
df4["branch"] = np.nan
current_branch = None

for i, row in df4.iterrows():
    val = str(row["Category"])
    if val.lower().startswith("stories"):
        current_branch = val
    df4.at[i, "branch"] = current_branch

df4[["Category","branch"]].head(20)

TypeError: Invalid value 'Stories - Bir Hasan' for dtype 'float64'

In [13]:
df4 = df4.reset_index(drop=True)

In [14]:
# rows that are branch headers start with "Stories"
is_branch_row = df4["Category"].astype(str).str.lower().str.startswith("stories")

# create a helper column that has branch name only on branch rows
df4["branch"] = df4["Category"].where(is_branch_row)

# forward-fill branch downwards
df4["branch"] = df4["branch"].ffill()

df4[["Category","branch"]].head(20)

               Category               branch
0   Stories - Bir Hasan  Stories - Bir Hasan
1             BEVERAGES  Stories - Bir Hasan
2                  FOOD  Stories - Bir Hasan
3      Total By Branch:  Stories - Bir Hasan
4   Stories Centro Mall  Stories Centro Mall
5             BEVERAGES  Stories Centro Mall
6                  FOOD  Stories Centro Mall
7      Total By Branch:  Stories Centro Mall
8           Stories LAU          Stories LAU
9             BEVERAGES          Stories LAU
10                 FOOD          Stories LAU
11     Total By Branch:          Stories LAU
12        Stories Faqra        Stories Faqra
13            BEVERAGES        Stories Faqra
14                 FOOD        Stories Faqra
15     Total By Branch:        Stories Faqra
16             Stories.             Stories.
17            BEVERAGES             Stories.
18                 FOOD             Stories.
19     Total By Branch:             Stories.

In [15]:
df4 = df4[df4["Category"].isin(["BEVERAGES","FOOD"])].copy()
df4.head(10)

,Category,Qty,Total Price,Unnamed: 3,Total Cost,Total Cost %,Total Profit,Unnamed: 7,Total Profit %,Unnamed: 9,branch
1,BEVERAGES,"137,572.1","1,841,385.84",NaN,"4,143,855.17",22.50,"14,270,003.22",NaN,77.50,NaN,Stories - Bir Hasan
2,FOOD,"102,791.4","1,264,966.00",NaN,"4,658,225.80",36.82,"7,991,434.23",NaN,63.18,NaN,Stories - Bir Hasan
5,BEVERAGES,"138,680.5","2,054,988.70",NaN,"4,591,734.79",22.34,"15,958,152.17",NaN,77.66,NaN,Stories Centro Mall
6,FOOD,"121,423.1","1,307,149.74",NaN,"4,981,860.70",38.11,"8,089,636.74",NaN,61.89,NaN,Stories Centro Mall
9,BEVERAGES,"58,430.00","777,228.30",NaN,"1,774,898.67",22.84,"5,997,384.33",NaN,77.16,NaN,Stories LAU
10,FOOD,"73,384.15","767,489.57",NaN,"2,799,004.10",36.47,"4,875,891.58",NaN,63.53,NaN,Stories LAU
13,BEVERAGES,"49,605.00","671,882.79",NaN,"1,426,297.24",21.23,"5,292,530.68",NaN,78.77,NaN,Stories Faqra
14,FOOD,"46,504.70","4,199,569.55",NaN,"1,508,720.49",35.93,"2,690,849.07",NaN,64.07,NaN,Stories Faqra
17,BEVERAGES,"55,306.50","782,327.67",NaN,"1,803,433.47",23.05,"6,019,843.20",NaN,76.95,NaN,Stories.
18,FOOD,"62,895.20","6,311,370.00",NaN,"2,473,263.04",39.19,"3,838,106.96",NaN,60.81,NaN,Stories.

In [16]:
for col in ["Qty", "Total Cost", "Total Profit"]:
    df4[col] = df4[col].apply(clean_number)

df4["Revenue"] = df4["Total Cost"] + df4["Total Profit"]
df4["Profit_Margin"] = df4["Total Profit"] / df4["Revenue"]
df4["branch_norm"] = df4["branch"].apply(normalize_branch)

df4[["branch","Category","Qty","Total Cost","Total Profit","Revenue","Profit_Margin"]].head(10)

,branch,Category,Qty,Total Cost,Total Profit,Revenue,Profit_Margin
1,Stories - Bir Hasan,BEVERAGES,137572.10,4143855.17,14270003.22,18413858.39,0.774960
2,Stories - Bir Hasan,FOOD,102791.40,4658225.80,7991434.23,12649660.03,0.631751
5,Stories Centro Mall,BEVERAGES,138680.50,4591734.79,15958152.17,20549886.96,0.776557
6,Stories Centro Mall,FOOD,121423.10,4981860.70,8089636.74,13071497.44,0.618876
9,Stories LAU,BEVERAGES,58430.00,1774898.67,5997384.33,7772283.00,0.771637
10,Stories LAU,FOOD,73384.15,2799004.10,4875891.58,7674895.68,0.635304
13,Stories Faqra,BEVERAGES,49605.00,1426297.24,5292530.68,6718827.92,0.787716
14,Stories Faqra,FOOD,46504.70,1508720.49,2690849.07,4199569.56,0.640744
17,Stories.,BEVERAGES,55306.50,1803433.47,6019843.20,7823276.67,0.769479
18,Stories.,FOOD,62895.20,2473263.04,3838106.96,6311370.00,0.608126

In [17]:
out4 = OUT_DIR / "clean_category_summary.csv"
df4.to_csv(out4, index=False)
print("Saved:", out4)

Saved: ..\outputs\clean_category_summary.csv

In [18]:
df4.shape, df4["branch"].nunique(), df4["Category"].value_counts()

((50, 14),
 25,
 Category
 BEVERAGES    25
 FOOD         25
 Name: count, dtype: int64)

In [19]:
from io import StringIO

f1 = DATA_DIR / "REP_S_00134_SMRY.csv"

with open(f1, "r", encoding="utf-8", errors="replace") as f:
    text1 = f.read()

df1_raw = pd.read_csv(StringIO(text1), header=None)
df1_raw.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Stories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Comparative Monthly Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22-Jan-2026,NaN,"Year: 2026,2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of,0.01
3,NaN,NaN,NaN,January,February,March,April,May,June,July,August,September,NaN,NaN
4,2025,Stories - Bir Hasan,NaN,"3,355,705.33","2,842,993.67","2,266,050.67","3,459,979.67","2,125,379.33","744,638.33","3,799,740.25","3,783,897.91","3,255,935.75",NaN,NaN
5,NaN,Stories Ain El Mreisseh,NaN,"12,648,546.67","9,929,973.33","9,849,926.67","13,025,923.33","7,208,975.00","2,883,403.33","11,889,329.16","11,610,097.92","11,021,123.75",NaN,NaN
6,NaN,Stories Airport,NaN,0.00,0.00,0.00,0.00,0.00,"8,428.83","2,940,003.01","6,963,426.45","7,467,197.62",NaN,NaN
7,NaN,Stories Antelias,NaN,"2,615,854.33","2,139,010.67","3,162,716.67","3,391,741.33","2,033,635.67","728,978.33","2,963,696.71","3,182,363.97","2,909,965.47",NaN,NaN
8,NaN,Stories Batroun,NaN,"4,266,517.33","3,388,117.33","4,890,198.33","5,516,881.67","2,963,980.33","1,311,240.00","6,135,003.02","6,751,770.29","5,041,150.76",NaN,NaN
9,NaN,Stories Bayada,NaN,"4,497,376.67","3,419,106.67","5,083,386.67","5,196,906.67","3,043,400.00","1,208,190.00","5,448,609.92","5,613,038.75","4,917,258.26",NaN,NaN
10,NaN,Stories Centro Mall,NaN,"3,264,533.33","2,944,806.67","2,218,466.67","3,937,166.67","1,955,286.67","924,383.33","4,201,339.95","4,307,333.34","3,232,537.55",NaN,NaN
11,NaN,Stories Event Starco,NaN,0.00,0.00,0.00,0.00,0.00,0.00,918.92,"3,141.14",0.00,NaN,NaN
12,NaN,Stories Faqra,NaN,"1,889,910.00","1,829,960.00","1,479,756.67","2,298,003.33","1,109,666.67","352,083.33","482,036.04","1,535,977.47",0.00,NaN,NaN
13,NaN,Stories Khaldeh,NaN,"7,468,155.33","6,108,429.33","6,420,841.00","8,455,732.00","4,487,117.67","2,262,395.00","9,464,291.92","10,661,995.53","7,859,844.17",NaN,NaN
14,NaN,Stories LAU,NaN,"1,832,006.33","1,863,050.33","1,859,610.67","2,358,631.33","1,206,958.00","398,961.67","1,050,186.19","1,683,288.29","627,849.85",NaN,NaN
15,NaN,Stories Le Mall,NaN,"3,881,015.00","3,772,586.67","4,220,770.00","4,428,620.00","2,163,876.67","967,783.33","4,986,426.44","5,452,825.84","4,201,888.90",NaN,NaN
16,NaN,NaN,January,February,March,April,May,June,July,August,September,NaN,NaN,NaN
17,2025,Stories Mansourieh,0.00,0.00,0.00,0.00,0.00,0.00,"193,405.41","5,928,212.63","5,813,335.75",NaN,NaN,NaN
18,NaN,Stories Ramlet El Bayda,0.00,"1,570,806.67","3,588,563.33","6,011,885.00","3,542,743.33","1,445,760.00","7,427,539.62","7,668,109.92","6,585,103.32",NaN,NaN,NaN
19,NaN,Stories Saida,"7,263,332.33","5,121,351.33","4,684,910.67","6,361,154.33","3,010,781.67","1,323,360.00","5,939,826.44","5,925,560.98","4,245,091.90",NaN,NaN,NaN

In [20]:
df1_raw.shape

(112, 14)

In [21]:
for c in range(min(10, df1_raw.shape[1])):
    sample = df1_raw[c].astype(str)
    if sample.str.contains("Stories", na=False).any():
        print("Found 'Stories' in column:", c)

Found 'Stories' in column: 0
Found 'Stories' in column: 1

In [22]:
BRANCH_COL = 1
YEAR_COL = 0

In [23]:
BRANCH_COL = 1
YEAR_COL = 0

In [24]:
df1_raw.columns = [f"c{i}" for i in range(df1_raw.shape[1])]

mask_branch = df1_raw[f"c{BRANCH_COL}"].astype(str).str.contains("Stories", na=False)
df1 = df1_raw[mask_branch].copy()

df1.head(10)

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
4,2025,Stories - Bir Hasan,NaN,"3,355,705.33","2,842,993.67","2,266,050.67","3,459,979.67","2,125,379.33","744,638.33","3,799,740.25","3,783,897.91","3,255,935.75",NaN,NaN
5,NaN,Stories Ain El Mreisseh,NaN,"12,648,546.67","9,929,973.33","9,849,926.67","13,025,923.33","7,208,975.00","2,883,403.33","11,889,329.16","11,610,097.92","11,021,123.75",NaN,NaN
6,NaN,Stories Airport,NaN,0.00,0.00,0.00,0.00,0.00,"8,428.83","2,940,003.01","6,963,426.45","7,467,197.62",NaN,NaN
7,NaN,Stories Antelias,NaN,"2,615,854.33","2,139,010.67","3,162,716.67","3,391,741.33","2,033,635.67","728,978.33","2,963,696.71","3,182,363.97","2,909,965.47",NaN,NaN
8,NaN,Stories Batroun,NaN,"4,266,517.33","3,388,117.33","4,890,198.33","5,516,881.67","2,963,980.33","1,311,240.00","6,135,003.02","6,751,770.29","5,041,150.76",NaN,NaN
9,NaN,Stories Bayada,NaN,"4,497,376.67","3,419,106.67","5,083,386.67","5,196,906.67","3,043,400.00","1,208,190.00","5,448,609.92","5,613,038.75","4,917,258.26",NaN,NaN
10,NaN,Stories Centro Mall,NaN,"3,264,533.33","2,944,806.67","2,218,466.67","3,937,166.67","1,955,286.67","924,383.33","4,201,339.95","4,307,333.34","3,232,537.55",NaN,NaN
11,NaN,Stories Event Starco,NaN,0.00,0.00,0.00,0.00,0.00,0.00,918.92,"3,141.14",0.00,NaN,NaN
12,NaN,Stories Faqra,NaN,"1,889,910.00","1,829,960.00","1,479,756.67","2,298,003.33","1,109,666.67","352,083.33","482,036.04","1,535,977.47",0.00,NaN,NaN
13,NaN,Stories Khaldeh,NaN,"7,468,155.33","6,108,429.33","6,420,841.00","8,455,732.00","4,487,117.67","2,262,395.00","9,464,291.92","10,661,995.53","7,859,844.17",NaN,NaN

In [25]:
df1["year"] = df1[f"c{YEAR_COL}"].replace("", np.nan).ffill()
df1["year"] = df1["year"].apply(clean_number).astype("Int64")

df1[["year", f"c{BRANCH_COL}"]].head(15)

    year                       c1
4   2025      Stories - Bir Hasan
5   2025  Stories Ain El Mreisseh
6   2025          Stories Airport
7   2025         Stories Antelias
8   2025          Stories Batroun
9   2025           Stories Bayada
10  2025      Stories Centro Mall
11  2025     Stories Event Starco
12  2025            Stories Faqra
13  2025          Stories Khaldeh
14  2025              Stories LAU
15  2025          Stories Le Mall
17  2025       Stories Mansourieh
18  2025  Stories Ramlet El Bayda
19  2025            Stories Saida